/* Ensure the container has defined size to hold the lights */
.container {
    position: relative;
    display: inline-block;
    width: 300px;  /* Set the width to match your image size */
    height: 400px; /* Set the height to match your image size */
}

.container img {
    width: 100%;  /* Ensure image fits inside container */
    height: 100%; /* Ensure image fits inside container */
}

/* Light styles */
.lightSet {
    position: absolute;
    width: 3px;  /* Set a width for the light */
    height: 3px; /* Set a height for the light */
    color: white;
    padding: 10px;
    background: rgba(0, 0, 0, 0.5);
}

.light1 {
    top: 310px;
    left: 105px;
}

.light2 {
    top: 303px;
    left: 167px;
}

.light3 {
    top: 275px;
    left: 125px;
}

.light4 {
    top: 265px;
    left: 165px;
}

.light5 {
    top: 230px;
    left: 136px;
}

.button-on {
  position: absolute;
  top: 150px;
  left: 300px;
  height: 75px;
  width: 175px;
  font-size: 25px;
  border-radius: 35%;
  background: lightblue;
  cursor: pointer;
}

.button-off {
  position: absolute;
  top: 235px;
  left: 300px;
  height: 75px;
  width: 175px;
  font-size: 25px;
  border-radius: 35%;
  background: lightblue;
  cursor: pointer;
}

.status {
  position: absolute;
  top: 75px;
  left: 315px;
  width: 151px;
}

.label {
    width: 100px;
}
